body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image:url(image.webp) ;
  }
  
  .login-container {
    max-width: 400px;
    margin: 126px auto;
    padding: 40px;
    background-color: #3975b5;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  .h2{
    text-align: center;
    color: red;
  }


  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #3975b5;
    border-radius: 5px;
  }
  
  button {
    width: 105%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #444;
  }
  
  .error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
  }
  

  
header{
    text-align:center ;
font-size: 50px;
color: aqua;
}

footer {
font-size: 25px;
  background-color: #3975b5;
  color:aqua;
  text-align: center;
  padding: 10px 0;
}
